%ul
  -if !@current_path.nil?
    %li
      =modal_link("Upload a file...", "Upload", "/upload/#{params[:repo]}/#{@path.join("/")}")
    %li Create folder
      
    -@path.each do |x|
      %li= x  
      
%ul
  %li
    %a{:href => '/admin/repository'}= Admin
