%h3= "Displaying items for #{params[:repo]}:#{@selected_path}"

%table#tree
  %tr
    %th
      Name
  -@current_path.contents.each do |x|
    %tr{:class => cycle('odd','even')} 
      %td    
        =link_for_git_object(x)

