%h3= "Displaying items for #{params[:repo]}:#{@selected_path}"

%table#tree
  %tr
    %th
      Name
    %th
      Blame
  -if !@blame_tree.nil?
    -@blame_tree.each do |k, v|
      %tr{:class => cycle('odd','even')} 
        %td    
          =link_for_git_object(k)
        %td
          =!v.nil? ? v[0][0].message : ""
