%table#admin-repo-list
  %tr
    %td Name
    %td Path
    %td Created @
  -@repo_list.each do |r|
    %tr
      %td
        %a{:href => "/browse/#{r.name}"} 
          =r.name
      %td= r.path
      %td= r.created_at

