-if @repo_list.empty?
  %h3 No registered repositories
-else
  %table#admin-repo-list
    %tr
      %th.name Name
      %th Path
      %th.date Created @
    -@repo_list.each do |r|
      %tr
        %td
          %a{:href => "/browse/#{r.name}"} 
            =r.name
        %td= r.path
        %td= r.created_at

