* {
  margin: 0;
  padding: 0; }

body {
  font-family: Georgia; }

.file-field {
  font-size: 10pt; }

h1#page-header {
  height: 50px;
  padding: 15px 0 5px 10px; }

h2 {
  font-size: 1.1em; }

h3 {
  font-size: 0.9em;
  font-weight: bold; }

table {
  border-collapse: collapse;
  font-size: 0.9em;
  background-color: #e8e8e8; }
  table th {
    text-align: left;
    padding: 2px;
    font-size: 0.9em; }
  table td {
    padding: 2px; }
    table td a {
      color: #000000; }

#main-content-container {
  margin: 10px 0 0 10px; }

#toolbar-container {
  padding: 3px 0 1.5em 0;
  background: #e8e8e8; }

.toolbar {
  margin-left: 10px; }
  .toolbar .button {
    float: left;
    background: #E3E3E3 none repeat scroll 0 0;
    border-right: 0.1em solid #bbbbbb;
    border-top: 0.1em solid #bbbbbb;
    border-bottom: 0.1em solid #bbbbbb;
    padding: 0 5px;
    position: relative; }
    .toolbar .button .shadow-effect {
      background: #F9F9F9 none repeat scroll 0 0;
      border-bottom: 0.2em solid #EEEEEE;
      height: 0.5em;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0; }
    .toolbar .button .text {
      position: relative;
      padding-left: 3px;
      font-family: arial;
      font-size: 0.7em;
      padding: 0.2em 0.2em 0.2em 0.2em; }
      .toolbar .button .text a {
        text-decoration: none;
        color: #000000;
        font-family: arial; }
      .toolbar .button .text a:hover {
        color: 505050; }
  .toolbar .selected {
    background: #F9F9F9 none repeat scroll 0 0; }
    .toolbar .selected .shadow-effect {
      background: #E3E3E3 none repeat scroll 0 0;
      border-bottom: 0.2em solid #EEEEEE; }
    .toolbar .selected .text {
      font-weight: bold;
      color: 505050; }
      .toolbar .selected .text a {
        color: 505050; }
  .toolbar .first {
    border-left: none; }
    .toolbar .first .text {
      border-left: 0.1em solid #bbbbbb;
      margin-left: -6px;
      padding-left: 0.5em; }
  .toolbar .lone {
    border-right: none; }
    .toolbar .lone .text {
      border-left: 0.1em solid #bbbbbb;
      border-right: 0.1em solid #bbbbbb;
      margin-right: -6px;
      margin-left: -6px;
      padding-right: 0.5em;
      padding-left: 0.5em; }
  .toolbar .last {
    border-right: none; }
    .toolbar .last .text {
      border-right: 0.1em solid #bbbbbb;
      margin-right: -6px;
      padding-right: 0.5em; }

#tools {
  float: right;
  margin-right: 10px; }

#breadcrumbs {
  float: left;
  margin-right: 10px; }

table#tree {
  margin-left: 10px;
  width: 90%;
  border: 2px solid #E8E8E8; }
  table#tree th {
    background-color: #BAD6FD;
    font-weight: bold;
    font-size: 0.9em; }
  table#tree th.name {
    width: 10em; }
  table#tree th.unreg {
    width: 7em; }
  table#tree th.date {
    width: 13em; }
  table#tree tr.odd {
    background-color: #ececec; }

table#admin-repo-list {
  margin-left: 10px;
  width: 90%;
  border: 2px solid #E8E8E8; }
  table#admin-repo-list th {
    background-color: #BAD6FD;
    font-weight: bold;
    font-size: 0.9em; }
  table#admin-repo-list th.name {
    width: 10em; }
  table#admin-repo-list th.unreg {
    width: 7em; }
  table#admin-repo-list th.date {
    width: 13em; }
