#action-buttons.toolbar

  %div{:class => "button first"}
    .shadow-effect
    .text
      %a{:href => '/'} Browser

  %div{:class => "button last"}
    .shadow-effect
    .text= modal_link("Add repository", "Add repository" , "/admin/repository/register")

#tools.toolbar
  %div{:class => "button first"}
    .shadow-effect
    .text
      %a{:href => '/admin/repository'} Users

  %div{:class => "button last"}
    .shadow-effect
    .text
      %a{:href => '/admin/repository'} Repositories

